body{
    background: url(../images/bg-desktop.svg) no-repeat;
    background-color: hsl(257, 40%, 49%);
    background-size: cover;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.header .logo{
    display: flex;
    padding: 30px;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    width: 100%;
}

.content{
    width: 100%;
    gap: 50px;
    width: 450px; 
}

.content .title{
    font-size: 2.5rem;
    font-weight: 600;
    gap: 10px;
}

.content .description{
    font-size: 1.0rem;
    font-weight: 400;
    margin: 10px 0;
}

.content .btn-register{
    display: flex;
    background-color: #fff;
    padding: 15px 8px;
    align-items: center;
    width: 200px;
    border-radius: 25px;
    justify-content: center;
    margin: 20px 0;
}

.content a{
    text-decoration: none;
    color: hsl(257, 40%, 49%);
    transition: 0.3s;
}

.content a:hover{
    background-color: hsl(300, 69%, 71%);
    color: #fff;
}

footer{
    display: flex;
    justify-content: flex-end;
}

.social{
    align-items: center;
    padding: 50px;
}

.social a{
    display: inline-flex;
    font-size: 26px;
    width: 50px;
    height: 50px;
    margin: 0 6px;
    border: 1px solid white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    color: #fff;
}

.social a:hover{
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}
@media (max-width: 475px){
    main{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .header .logo img{
        width: 150px;
    }

    .banner img{
        width: 250px;
    }

    .content .title{
        font-size: 32px;
        text-align: center;
        padding: 10px;
    }

    .content .description{
        font-size: 20px;
        padding: 20px;
        text-align: center;
    }

    .content .btn-register{
        align-items: center;
        margin: 0 auto;
    }

    .social{
        align-items: center;
        margin: 0 auto;
    }
}